* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #d9d9d9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

header {
    margin-top: 20px;
    text-align: center;
    gap: 4px;
    color: #8e8e8e;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

h1,
h2,
p {
    margin: 0;
}

header > h1 {
    font-size: 20px;
    font-weight: 500;
    color: #f9f4da;
}

header > p {
    max-width: 350px;
}

.status-section {
    text-align: center;
    padding: 6px 10px;
    border-radius: 6px;
    margin: 20px 0 36px 0;
    color: #f9f4da;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.status-section.win {
    background-color: #10a95b;
}

.status-section.lose {
    background-color: #ba2a2a;
}

.status-section.farewell {
    background-color: #7a5ea7;
    border: 1px dashed #323232;
    font-style: italic;
    font-weight: 400;
}

.status-section h2 {
    font-size: 20px;
}

.status-section p {
    font-size: 16px;
}

.language-section {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 5px;
    margin: 0 auto;
}

.language-section span {
    padding: 4.5px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 12px;
    position: relative;
}

.language-section span.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.current-word-section {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    margin-top: 30px;
}

.current-word-section span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #323232;
    border-bottom: solid 1px #f9f4da;
}

.current-word-section span.missing {
    background-color: #ec5d49;
}

.current-word-section span.correct {
    background-color: #10a95b;
}

.keyboard-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
    margin: 20px auto;
    padding-top: 20px;
    gap: 8px;
}

.keyboard-section button {
    border: solid 1px #d7d7d7;
    background-color: #fcba29;
    width: 40px;
    height: 40px;
    font-size: 16px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-weight: 600;
    color: #1e1e1e;
    cursor: pointer;
}

.keyboard-section button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.keyboard-section .correct {
    background-color: #10a95b;
}

.keyboard-section .incorrect {
    background-color: #ec5d49;
}

.restart-button {
    margin-top: 36px;
    display: block;
    margin: 0 auto;
    border: solid 1px #d7d7d7;
    border-radius: 4px;
    background-color: #11b5e5;
    width: 228px;
    height: 40px;
    color: #1e1e1e;
    font-weight: 600;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
